<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connection Line SAGL | Specialisti della Traduzione</title>
    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/app.css">
</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#section-hero" class="navigation__link navigation__link--home">
                        <span>01</span>Home</a>
                </li>
                <li class="navigation__item"><a href="#counters"
                        class="navigation__link navigation__link--counters"><span>02</span>I Numeri</a>
                </li>
                <li class="navigation__item"><a href="#story"
                        class="navigation__link navigation__link--story"><span>03</span>La Storia</a></li>
                <li class="navigation__item"><a href="#settori"
                        class="navigation__link navigation__link--settori"><span>04</span>I Servizi</a>
                </li>
                <li class="navigation__item"><a href="#testimonials"
                        class="navigation__link navigation__link--testimonials"><span>05</span>I Nostri
                        Clienti</a>
                </li>
                <li class="navigation__item"><a href="#cta"
                        class="navigation__link navigation__link--cta"><span>06</span>Contattaci</a></li>
            </ul>
        </nav>
    </div>