.blog-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: $color-primary-dark;

  @include respond(quattrocentosettanta) {
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    color: $color-secondary;
  }

  &__btn {
    border: 1px solid $color-secondary;
    border-radius: 2.5rem;
    padding: 1rem 2rem;

    &:hover {
      background-color: $white;
      color: $color-primary-dark;
      cursor: pointer;
    }

    &--crea-post {
      border: none;
    }

    &--elimina,
    &--modifica {
      border: none;
    }

    &--elimina {
      color: white;
      background-color: $erease;

      &:hover {
        background-color: rgba($erease, 0.8);
        color: white;
      }
    }

    &--modifica {
      color: black;
      background-color: $modify;
      margin-right: 0.3rem;

      &:hover {
        background-color: rgba($modify, 0.8);
      }
    }
  }

  &__logo {
    padding-top: 0.5rem;
    width: 7rem;

    @include respond(quattrocentosettanta) {
      width: 10rem;
      margin: 2rem 0 3rem 0;
    }
  }
}
