.translations {
    position: fixed;
    top: 4rem;
    left: 4rem;
    display: flex;
    width: min-content;
    z-index: 500;
    opacity: .5;

    @include respond(settecento) { 
        top: 4.5rem;
        left: 3.5rem;
    }
    
    @include respond(cinquecento) {
        display: none; 
        top: 3rem;
        left: 2rem;
    }

    &__image {
        width: 5rem;
        height: 3rem;
        margin: 0 .8rem;
    }
}

.translations-navbar {
    display: none;
    width: min-content;
    z-index: 1000;
    opacity: .5;

    @include respond(cinquecento) {
        display: flex;
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, 0); 
    }

    &__image {
        width: 5rem;
        height: 3rem;
        margin: 0 .8rem;
    }
}

