<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connection Line SAGL | Error</title>
    <!--<link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/app.min.css">
    <!--<script src="https://kit.fontawesome.com/dd69990d73.js"></script>-->
    <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
</head>

<body>
    </div>
    <div class="translations">
        <div class="translations-navbar__container">
            <a href="/en"><img class="translations-navbar__image" src="/assets/flags/english.png"></a>
        </div>
        <div class="translations-navbar__container">
            <a href="/it"><img class=" translations-navbar__image" src="/assets/flags/italian.png"></a>
        </div>
        <div class="translations-navbar__container">
            <a href="/de"><img class="translations-navbar__image" src="/assets/flags/german.png"></a>
        </div>
        <div class="translations-navbar__container">
            <a href="/fr"><img class="translations-navbar__image" src="/assets/flags/french.png"></a>
        </div>
    </div>
<body>
    <div class="error">
        <h1 class="error__title"><%= title %></h1>
        <p class="error__message"><%= msg %></p>
    </div>
    
</body>

<footer class="footer footer__thankyou" id="footer">
        
    <p class="footer__copyright">&copy; 2019 Cl Connection Line Sagl</p>


<p class="footer__indirizzo">Via Pico 26, CH-6900, Lugano (TI)<br><span class="footer__indirizzo--phone">☎</span> +41 (0) 91 971 54 35</p>


<div class="footer__navigation">
    <ul class="footer__list">
        <li class="footer__item"><a href="/it/privacy" class="footer__link">PRIVACY POLICY</a></li>
    </ul>
</div>
<p class="footer__mattia">
        Built by Mattia Rasulo Marketing Studio
</p>
</footer>
</section>

<script type="text/javascript" src="/js/index.bundle.js"></script>
</body>

</html>
