<%- include("partials/header"); -%>
<div class="progressive-sidebar">
    <ul class="progressive-sidebar__ul">
        <div class="progressive-sidebar__container">
            <li
                class="progressive-sidebar__section progressive-sidebar__section-1 progressive-sidebar__section--active">
                <svg class="progressive-sidebar__section-icon ">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-2">
                <svg class=" progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-3"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-4"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-5"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-6"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
    </ul>
</div>
<header id="section-hero">
    <div class="bg-video">
        <div class="bg-video__container">
            <video class="bg-video__content" autoplay muted loop>
                <source src="/assets/video/hero-video.mp4" type="video/mp4">
                Your browser is not supported
            </video>
        </div>
        <img class="bg-video__logo" src="/assets/logo.png" alt="">
        <h1 class="bg-video__title">&ldquo;Aiutiamo privati ed aziende a superare le barriere linguistiche in qualsiasi
            ambito
            tecnico.&rdquo;</h1>
        <button class="btn btn--animated btn--primary bg-video__btn">Richiedi subito un preventivo</button>
    </div>
</header>
<section id="counters">
    <div class="counter">
        <h2 class="counter__header"><span class="counter__counter-traduttori">100</span> interpreti 👩<br><span
                class="counter__nazioni-text">🌍 da oltre <span class="counter__counter-nazioni">80</span>
                nazioni. 🌍</span>
        </h2>
        <h2 class="counter__header">🇨🇭 🇬🇧 <span class="counter__counter-traduttori">500</span> combinazioni
            linguistiche. 🇮🇹 🇩🇪
        </h2>
        <h2 class="counter__header"><span class="counter__counter-traduttori">400</span> clienti soddisfatti. 👨‍🏫👩‍🏫
        </h2>
        <h2 class="counter__header"><span class="counter__counter-traduttori counter__counter-parole">1000000</span> di
            parole tradotte
            ㊙㊗<br><span class="counter__nazioni-text">in <span
                    class="counter__counter-nazioni counter__counter-lingue">800</span>
                lingue diverse. 🌍</span>
        </h2>
    </div>
</section>
<section id="story">
    <div class="story">
        <h2 class="story__header">Una Storia di Eccellenza e di Competenza.</h2>
        <p class="story__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cumque voluptas
            nobis quod sint quaerat voluptatibus voluptatem porro, commodi pariatur accusantium nihil, facilis aperiam
            maiores numquam doloribus quo eveniet tempore officiis aliquid sequi magni corporis dolore totam. Fugit
            saepe, hic assumenda architecto cupiditate perspiciatis, neque accusantium beatae voluptatibus, ratione quam
            pariatur aliquid quibusdam recusandae officiis tempore vero? Aliquam beatae facere in adipisci. Quo sed,
            quod animi ut sit deleniti, dolor consectetur quidem nihil officiis neque debitis nostrum. Vitae aut aperiam
            ullam saepe unde, fugiat eos possimus ipsum perspiciatis laborum amet dolor placeat numquam quos dicta
            incidunt libero quas repudiandae repellendus!</p>
    </div>
</section>
<section id="settori">
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--1">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">MEDICINA</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button">contattaci</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--2">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">GIUSTIZIA</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button">Contattaci</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--3">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">FINANZA</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button">Contattaci</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--4">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">MARKETING</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button">Contattaci</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--5">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">WEB/INFORMATICA</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button">Contattaci</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--6">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">TECNICO</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button">Contattaci</a>
            </div>
        </div>
    </div>
</section>
<section id="testimonials">
    <div class="testimonials">
        <h2 class="testimonials__title mb-3">Lorem ipsum dolor sit amet consectetur.</h2>
        <p class="testimonials__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex aut ratione quam?
            Obcaecati autem necessitatibus consequuntur repudiandae quibusdam corporis minima!</p>
        <p class="testimonials__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse temporibus sequi
            dicta inventore culpa. Nemo.</p>
        <div class="testimonials__carousel owl-carousel" data-loop="true">
            <div class="item">
                <img src="/assets/logos/bbc.png" alt=""
                    class="testimonials__carousel-logo testimonials__carousel-logo--bbc">
            </div>
            <div class="item">
                <img src="/assets/logos/cnn.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/coca-cola.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/forbes.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/mercedes.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/volkswagen.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/visa.png" alt="" class="testimonials__carousel-logo">
            </div>
        </div>
    </div>
</section>
<section id="cta">
    <div class="cta">

        <div class="cta__form">
            <h2 class="cta__header mb-3">
                Richiedi subito un preventivo gratuito! <br>10% di sconto sulle richieste online!
            </h2>
            <form action="#" class="form">
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="Nome e Cognome" id="name" required>
                    <label for="name" class="form__label">Nome e Cognome</label>
                </div>

                <div class="form__group">
                    <input type="email" class="form__input" placeholder="Email" id="email" required>
                    <label for="email" class="form__label">Email</label>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="Telefono" id="telefono">
                    <label for="telefono" class="form__label">Telefono</label>
                </div>
                <div class="form__group">
                    <textarea type="email" class="form__input" id="richiesta" placeholder="Inserisci la tua Richiesta"
                        rows="6" required></textarea>
                    <label for="richiesta" class="form__label">Richiesta</label>
                </div>
                <div class="form__checkbox-group">
                    <input type="checkbox" class="form__checkbox-input" id="privacy" name="privacy_accepted">
                    <label for="privacy" class="form__checkbox-label">
                        <span class="form__checkbox-button"></span>
                        Acconsento al trattamento dei miei dati personali.
                    </label>
                </div>
                <div class="form__checkbox-group">
                    <input type="checkbox" class="form__checkbox-input" id="newsletter" name="newsletter_accepted">
                    <label for="newsletter" class="form__checkbox-label">
                        <span class="form__checkbox-button"></span>
                        Sì, voglio iscrivermi alla Newsletter.
                    </label>
                </div>
                <div class="form__group">
                    <button class="btn btn--primary mt-1">Invia</button>
                </div>
            </form>
        </div>
    </div>
</section>


<%- include("partials/footer"); -%>