<%- include("partials/header"); -%>
<div class="progressive-sidebar">
    <ul class="progressive-sidebar__ul">
        <div class="progressive-sidebar__container">
            <li
                class="progressive-sidebar__section progressive-sidebar__section-1 progressive-sidebar__section--active">
                <svg class="progressive-sidebar__section-icon ">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-2">
                <svg class=" progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-3"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-4"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-5"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
    </ul>
</div>
<header id="section-hero">
    <div class="bg-video">
        <div class="bg-video__container">
            <video class="bg-video__content" autoplay muted loop>
                <source src="/assets/video/hero-video.mp4" type="video/mp4">
                Your browser is not supported
            </video>
        </div>
        <img class="bg-video__logo" src="/assets/logo.png" alt="">
        <h1 class="bg-video__title">&ldquo;Aiutiamo persone ed aziende a superare le barriere linguistiche in qualsiasi
            ambito
            tecnico.&rdquo;</h1>
        <button class="btn btn--animated btn--primary bg-video__btn">Richiedi subito un preventivo</button>
    </div>
</header>
<section id="counters">
    <div class="counter">
        <h2 class="counter__header"><span class="counter__counter-traduttori">100</span> interpreti 👩<br><span
                class="counter__nazioni-text">🌍 da oltre <span class="counter__counter-nazioni">80</span>
                nazioni. 🌍</span>
        </h2>
    </div>
</section>
<section id="story">
    <div class="story">
        <h2 class="story__header">Una Storia di Eccellenza e di Competenza.</h2>
        <p class="story__text mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cumque voluptas
            nobis quod sint quaerat voluptatibus voluptatem porro, commodi pariatur accusantium nihil, facilis aperiam
            maiores numquam doloribus quo eveniet tempore officiis aliquid sequi magni corporis dolore totam. Fugit
            saepe, hic assumenda architecto cupiditate perspiciatis, neque accusantium beatae voluptatibus, ratione quam
            pariatur aliquid quibusdam recusandae officiis tempore vero? Aliquam beatae facere in adipisci. Quo sed,
            quod animi ut sit deleniti, dolor consectetur quidem nihil officiis neque debitis nostrum. Vitae aut aperiam
            ullam saepe unde, fugiat eos possimus ipsum perspiciatis laborum amet dolor placeat numquam quos dicta
            incidunt libero quas repudiandae repellendus!</p>
    </div>
</section>
<section id="settori">
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--1">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">MEDICINA</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white">contattaci</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--2">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">GIUSTIZIA</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white">Contattaci</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--3">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">FINANZA</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white">Contattaci</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--4">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">MARKETING</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white">Contattaci</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--5">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">WEB/INFORMATICA</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white">Contattaci</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--6">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span">TECNICO</span>
            </h4>
            <div class="card__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias eligendi enim atque consequuntur
                    accusantium laboriosam fugiat quasi omnis animi!</p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo">CHIEDI SUBITO UN PREVENTIVO!</p>
                </div>
                <a href="#popup" class="btn btn--white">Contattaci</a>
            </div>
        </div>
    </div>

</section>


<%- include("partials/footer"); -%>