/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Raleway:400,400i,700,700i");
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: #00589e;
  color: #fff;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Raleway", sans-serif;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.bg-video {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.bg-video__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1000;
}
.bg-video__title {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 4rem;
  padding: 0 20%;
  margin-top: 6.5rem;
  z-index: 0;
}
@media only screen and (max-width: 93.75em) {
  .bg-video__title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .bg-video__title {
    padding: 0 10%;
  }
}
@media only screen and (max-width: 56.25em) {
  .bg-video__title {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .bg-video__title {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .bg-video__title {
    font-size: 2rem;
  }
}
.bg-video__logo {
  width: 40rem;
  position: relative;
  z-index: 50;
}
@media only screen and (max-width: 93.75em) {
  .bg-video__logo {
    width: 30rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .bg-video__logo {
    width: 24rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .bg-video__logo {
    width: 18rem;
  }
}
.bg-video__btn {
  position: relative;
  display: inline-block;
  width: 40rem;
  height: 5.5rem;
  z-index: 50;
  margin-top: 6.5rem;
}
@media only screen and (max-width: 56.25em) {
  .bg-video__btn {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .bg-video__btn {
    width: 35rem;
    height: 5rem;
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 23.45em) {
  .bg-video__btn {
    width: 80%;
    height: min-content;
    font-size: 1.3rem !important;
  }
}
.bg-video :before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: linear-gradient(to right, rgba(0, 30, 54, 0.1), rgba(180, 180, 180, 0.1));
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: inherit;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--primary {
  background-color: #001e36;
  color: #fff;
}
.btn--primary::after {
  background-color: #001e36;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: "Noto Sans", sans-serif;
  color: #00589e;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00589e;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #00589e;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
@media only screen and (max-width: 25em) {
  .card {
    width: 80%;
    margin: 0 auto;
  }
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
  background-image: linear-gradient(to right bottom, #00589e, #b4b4b4);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: normal;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: linear-gradient(to left, rgba(0, 88, 158, 0.25), rgba(255, 255, 255, 0.4)), url("/assets/settori/medicina.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to left, rgba(0, 88, 158, 0.25), rgba(255, 255, 255, 0.4)), url("/assets/settori/giustizia.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to left, rgba(0, 88, 158, 0.25), rgba(255, 255, 255, 0.4)), url("/assets/settori/finanziario.jpg");
}
.card__picture--4 {
  background-image: linear-gradient(to left, rgba(0, 88, 158, 0.25), rgba(255, 255, 255, 0.4)), url("/assets/settori/marketing.jpg");
}
.card__picture--5 {
  background-image: linear-gradient(to left, rgba(0, 88, 158, 0.25), rgba(255, 255, 255, 0.4)), url("/assets/settori/informatica.jpg");
}
.card__picture--6 {
  background-image: linear-gradient(to left, rgba(0, 88, 158, 0.25), rgba(255, 255, 255, 0.4)), url("/assets/settori/tecnico.jpg");
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__heading-span {
  padding: 0.8rem 1.3rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(to right bottom, rgba(0, 88, 158, 0.25), rgba(180, 180, 180, 0.25));
}
.card__details {
  padding: 3rem;
}
@media only screen and (max-width: 25em) {
  .card__details {
    padding: 1rem;
    font-size: 1.5rem;
  }
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__preventivo-box {
  text-align: center;
  color: #fff;
}
.card__chiedi-preventivo {
  font-size: 2.5rem;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}
@media only screen and (max-width: 25em) {
  .card__chiedi-preventivo {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__preventivo-box {
    margin-bottom: 5rem;
    padding-top: 4rem;
  }
  .card__preventivo-box-button {
    margin-bottom: 4rem;
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 5rem 3rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 8rem 4rem 4rem 4rem;
  }
  .card__chiedi-preventivo {
    margin: 0;
  }
}
@media only screen and (max-width: 25em) {
  .card__picture {
    height: 19rem;
  }
  .card__heading {
    font-size: 2.4rem;
  }
  .card__preventivo-box {
    margin-bottom: 2rem;
    padding-top: 0;
  }
  .card__preventivo-box-button {
    margin-bottom: 2rem;
    padding: 1.3rem 3rem !important;
  }
  .card__details {
    padding: 1.5rem 3rem;
  }
}

.counter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fit, 70rem);
  gap: 4rem;
}
.counter__header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
}
@media only screen and (max-width: 43.75em) {
  .counter__header {
    font-size: 3rem;
    width: 60vw;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 29.375em) {
  .counter__header {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .counter__header {
    font-size: 2rem;
    line-height: 1.5;
    gap: 2rem;
    width: 80vw;
  }
}
.counter__counter-traduttori {
  font-weight: 700;
  color: #00589e;
  display: inline-block;
  width: 10rem;
}
@media only screen and (max-width: 43.75em) {
  .counter__counter-traduttori {
    width: 6rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .counter__counter-traduttori {
    width: 4rem;
  }
}
.counter__counter-nazioni {
  font-weight: 700;
  color: #00589e;
  display: inline-block;
  width: 8rem;
}
@media only screen and (max-width: 43.75em) {
  .counter__counter-nazioni {
    width: 4.5rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .counter__counter-nazioni {
    width: 4rem;
  }
}
.counter__counter-parole {
  width: 17rem;
}
@media only screen and (max-width: 43.75em) {
  .counter__counter-parole {
    width: 14rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .counter__counter-parole {
    width: 9rem;
  }
}
.counter__counter-lingue {
  width: 8rem;
}
@media only screen and (max-width: 43.75em) {
  .counter__counter-lingue {
    width: 6rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .counter__counter-lingue {
    width: 4.5rem;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 43.75em) {
  .form__group:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
  /*@include respond(tab-port) {
      width: 100%;
  }*/
}
@media only screen and (max-width: 81.25em) {
  .form__input {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #00589e;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #b4b4b4;
}
.form__input::-webkit-input-placeholder {
  color: #777;
}
.form__checkbox-group {
  width: 100%;
  display: block;
  margin: 2rem 0;
}
@media only screen and (max-width: 43.75em) {
  .form__checkbox-group {
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 37.75em) {
  .form__checkbox-group {
    width: 80%;
  }
}
@media only screen and (max-width: 23.45em) {
  .form__checkbox-group {
    margin: 0.5rem 0;
  }
}
.form__checkbox-input {
  display: none;
}
.form__checkbox-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
@media only screen and (max-width: 81.25em) {
  .form__checkbox-label {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 25em) {
  .form__checkbox-label {
    font-size: 1.3rem;
  }
}
.form__checkbox-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 4px solid #00589e;
  border-radius: 0.5rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__checkbox-button:hover {
  cursor: pointer;
}
.form__checkbox-button::after {
  content: "";
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00589e;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__checkbox-button::after:hover {
  cursor: pointer;
}
.form__checkbox-input:checked ~ .form__checkbox-label .form__checkbox-button::after {
  opacity: 1;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  transition: all 0.5s 0.2s;
  padding: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .popup__content {
    width: 70%;
  }
}
@media only screen and (max-width: 37.75em) {
  .popup__content {
    padding: 4rem 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .popup__content {
    width: 85%;
  }
}
@media only screen and (max-width: 25em) {
  .popup__content {
    width: 95%;
    padding: 4rem 1rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .popup__content {
    padding: 4rem 1rem 1rem;
  }
}
.popup__close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #777;
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #00589e;
}
.popup__header {
  margin-bottom: 2.5rem;
  text-align: center;
}
@media only screen and (max-width: 25em) {
  .popup__header {
    font-size: 2rem;
    width: 60%;
    margin: 0 auto 2.5rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .popup__header {
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.popup__text {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 62.5em) {
  .popup__text {
    width: 80%;
  }
}
@media only screen and (max-width: 25em) {
  .popup__text {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .popup__text {
    margin-bottom: 1.5rem;
    width: 90%;
  }
}
.popup__btn {
  margin-top: 2.5rem;
  width: 50%;
  align-self: center;
  text-align: center;
}
@media only screen and (max-width: 50em) {
  .popup__btn {
    width: min-content;
  }
}
@media only screen and (max-width: 23.45em) {
  .popup__btn {
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    margin-top: 1rem;
  }
}
.popup__form-popup {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 62.5em) {
  .popup__form-popup {
    width: 80%;
  }
}
.popup__form-popup__group:not(:last-child) {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 43.75em) {
  .popup__form-popup__group:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.popup__form-popup__input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 1rem;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  background-color: #f0f0f0;
  font-size: 1.5rem;
}
.popup__form-popup__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.popup__form-popup__input:focus:invalid {
  border-bottom: 3px solid #b4b4b4;
}
.popup__form-popup__input::-webkit-input-placeholder {
  color: #777;
}
.popup__form-popup__input:focus:valid {
  border-bottom: 3px solid #00589e;
}
.popup__form-popup__label {
  font-size: 1.3rem;
}

.progressive-sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 92%;
  z-index: 10;
}
@media only screen and (max-width: 25em) {
  .progressive-sidebar {
    left: 93%;
  }
}
.progressive-sidebar__ul {
  position: relative;
  list-style: none;
}
.progressive-sidebar__container {
  position: relative;
  cursor: pointer;
}
.progressive-sidebar__section {
  height: 20px;
  margin: 0.5rem 0;
  fill: #001e36;
}
@media only screen and (max-width: 25em) {
  .progressive-sidebar__section {
    height: 19px;
  }
}
.progressive-sidebar__section--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #001e36;
  -webkit-mask: url("/assets/icons/SVG/controller-record.svg") no-repeat 50% 50%;
  mask: url("/assets/icons/SVG/controller-record.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media only screen and (max-width: 31.25em) {
  .progressive-sidebar__section--active::before {
    height: 2rem;
    width: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .progressive-sidebar__section--active::before {
    height: 2rem;
    width: 2rem;
    top: 12px;
  }
}
.progressive-sidebar__section-icon {
  width: 2rem;
  height: 2rem;
}
@media only screen and (max-width: 31.25em) {
  .progressive-sidebar__section-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
}

.story {
  height: 100vh;
  padding: 0 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 81.25em) {
  .story {
    padding: 0 15%;
  }
}
@media only screen and (max-width: 31.25em) {
  .story {
    padding: 0 10%;
  }
}
@media only screen and (max-width: 23.45em) {
  .story {
    height: auto;
    padding: 0 7%;
  }
}
.story__header {
  text-align: center;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 400;
}
@media only screen and (max-width: 56.25em) {
  .story__header {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .story__header {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .story__header {
    margin-top: 3rem;
    font-size: 2.5rem;
  }
}
.story__text {
  margin-top: 3rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 23.45em) {
  .story__text {
    padding-bottom: 2rem;
  }
}

.testimonials {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 23.45em) {
  .testimonials {
    padding-top: 4rem;
  }
}
.testimonials__title {
  text-align: center;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 50em) {
  .testimonials__title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.75em) {
  .testimonials__title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .testimonials__title {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .testimonials__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.testimonials__text {
  text-align: left;
  align-self: flex-start;
  padding: 0 20%;
}
@media only screen and (max-width: 50em) {
  .testimonials__text {
    padding: 0 15%;
  }
}
.testimonials__carousel {
  padding: 2 rem 0;
  display: block;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-basis: content;
  margin-top: 10rem;
  background-color: rgba(209, 209, 209, 0.75);
  width: 100vw;
  transition: all linear;
}
@media only screen and (max-width: 23.45em) {
  .testimonials__carousel {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.testimonials__carousel-logo {
  height: auto;
  width: auto;
  margin: 0 10rem;
  filter: grayscale(100%) brightness(130%);
}

.owl-stage {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.footer {
  background-color: #333333;
  padding: 8rem 0;
  font-size: 1.4rem;
  color: #d1d1d1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
@media only screen and (max-width: 81.25em) {
  .footer {
    padding: 6rem 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer {
    grid-template-columns: 35% 40% 25%;
  }
}
@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
}
.footer__container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .footer__container {
    width: 100%;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    text-align: center;
  }
}
.footer__navigation {
  display: inline-block;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #777;
  background-color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.3);
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 43.75em) {
  .navigation__button {
    top: 3.5rem;
    right: 3.5rem;
    height: 5rem;
    width: 5rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .navigation__button {
    top: 2rem;
    right: 2rem;
    height: 4.5rem;
    width: 4.5rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#8acaff, #001e36);
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 43.75em) {
  .navigation__background {
    top: 4rem;
    right: 4rem;
    height: 4rem;
    width: 4rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .navigation__background {
    top: 3rem;
    right: 3rem;
    height: 2rem;
    width: 2rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 1000%;
  transition: all 0.4s;
}
@media only screen and (max-width: 43.75em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 2rem;
  }
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #00589e;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  display: block;
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 50%;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #777;
  display: inline-block;
}
@media only screen and (max-width: 43.75em) {
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.5rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
  }
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
@media only screen and (max-width: 43.75em) {
  .navigation__icon::before {
    top: -0.7rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .navigation__icon::before {
    top: -0.5rem;
  }
}
.navigation__icon::after {
  top: 0.8rem;
}
@media only screen and (max-width: 43.75em) {
  .navigation__icon::after {
    top: 0.7rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .navigation__icon::after {
    top: 0.5rem;
  }
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
@media only screen and (max-width: 43.75em) {
  .navigation__button:hover .navigation__icon::before {
    top: -0.7rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .navigation__button:hover .navigation__icon::before {
    top: -0.5rem;
  }
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
@media only screen and (max-width: 43.75em) {
  .navigation__button:hover .navigation__icon::after {
    top: 0.7rem;
  }
}
@media only screen and (max-width: 23.45em) {
  .navigation__button:hover .navigation__icon::after {
    top: 0.5rem;
  }
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

#section-hero {
  position: relative;
}

#counters {
  background-image: linear-gradient(to right, rgba(0, 88, 158, 0.6), white);
  height: 100vh;
  padding: 0;
}

#story {
  background-image: linear-gradient(to left, rgba(0, 88, 158, 0.4), rgba(255, 255, 255, 0.5)), url("/assets/adult-background-close-up-1079033.jpg");
  background-size: cover;
  background-position: bottom;
}

#settori {
  width: 80vw;
  padding: 10rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fit, 35rem);
  grid-gap: 5rem;
  justify-content: center;
}
@media only screen and (max-width: 23.45em) {
  #settori {
    width: 70vw;
    padding: 8rem 0;
  }
}

#testimonials {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/assets/testimonials-background.jpg");
}

#cta {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 88, 158, 0.9), rgba(255, 255, 255, 0.5));
  padding: 5rem 0;
}
@media only screen and (max-width: 93.75em) {
  #cta {
    padding: 3rem 0;
  }
}
@media only screen and (max-width: 81.25em) {
  #cta {
    padding: 2rem 0;
  }
}
@media only screen and (max-width: 43.75em) {
  #cta {
    padding: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  #cta {
    padding: 1rem;
  }
}

.cta {
  width: 70%;
  padding: 6rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 55%, transparent 10%), url("/assets/testimonials-background-opaque.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  /*@include respond(tab-land) {
          background-image: linear-gradient(105deg, 
          rgba($color-white, .9) 0%,
          rgba($color-white, .9) 65%,
          transparent 65%) ,
      url(../img/nat-10.jpg);
          background-size: cover;
      }
  
      @include respond(tab-port) {
          background-image: linear-gradient(to right, 
          rgba($color-white, .9) 0%,
          rgba($color-white, .9) 100%),
  url(../img/nat-10.jpg);
      }*/
}
@media only screen and (max-width: 93.75em) {
  .cta {
    padding: 3.5rem;
  }
}
@media only screen and (max-width: 81.25em) {
  .cta {
    padding: 3rem;
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .cta {
    padding: 2.7rem;
    width: 90%;
  }
}
@media only screen and (max-width: 43.75em) {
  .cta {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%, transparent 10%), url("/assets/form-background-mobile.jpg");
    width: 70%;
    padding: 3rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .cta {
    width: 80%;
  }
}
@media only screen and (max-width: 25em) {
  .cta {
    width: 90%;
  }
}
@media only screen and (max-width: 23.45em) {
  .cta {
    width: 95%;
  }
}
.cta__header {
  text-align: left;
}
@media only screen and (max-width: 81.25em) {
  .cta__header {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .cta__header {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .cta__header {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 25em) {
  .cta__header {
    font-size: 1.5rem;
    margin-bottom: 2.4rem;
  }
}
.cta__form {
  width: 50%;
}
@media only screen and (max-width: 43.75em) {
  .cta__form {
    width: 100%;
    margin: 0;
  }
}

/*# sourceMappingURL=app.css.map */
