.blog-home {
  color: #2a2a2a;

  &__top-section {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    @include respond(ottocento) {
      height: min-content;
    }

    h1,
    h2 {
      font-weight: 200;
      letter-spacing: 0.2rem;
    }

    h1 {
      text-transform: uppercase;
      font-size: 4.5rem;
      margin-bottom: 2rem;

      @include respond(ottocento) {
        font-size: 3.5rem;
        margin-bottom: 1rem;
      }

      @include respond(quattrocentosettanta) {
        font-size: 2.2rem;
      }
    }

    h2 {
      text-transform: uppercase;
      font-size: 2.5rem;

      @include respond(ottocento) {
        font-size: 2rem;
      }

      @include respond(quattrocentosettanta) {
        font-size: 1.8rem;
      }
    }

    &-container {
      padding: 0.8rem 1.3rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-secondary, 0.7)
      );
      text-align: center;

      @include respond(novecento) {
        padding: 5rem;
      }
      @include respond(ottocento) {
        margin: 2rem 3rem;
        padding: 3rem 2rem;
      }
    }
  }

  &__post-section {
    padding: 0 10rem 5rem;

    @include respond(cinquecento) {
      padding: 0 5rem 5rem;
    }

    h3 {
      font-weight: 400;
      text-align: center;
      padding: 5rem;

      @include respond(cinquecento) {
        padding: 3rem 0;
        width: 100%;
      }
    }
  }

  &__post-container {
    display: grid;
    width: 100%;
    justify-content: center;
    padding-bottom: 5rem;

    grid-template-columns: repeat(auto-fill, 42rem);
    grid-template-rows: repeat(auto-fill, min-content);
    grid-gap: 25px;
  }
}
