.thankyou {

    a {
        margin: 5% 0;
    }
    
    &__thankyou {
        height: 85vh;
        background-image: linear-gradient(to left, rgba(0, 88, 158, 0.4), rgba(255, 255, 255, 0.5)), url(/assets/adult-background-close-up-1079033.jpg);
        background-size: cover;
        background-position: bottom;
        
        @include flexCenter;

        @include respond(milletrecento) {
            height: 82vh;
        }

        @include respond(quattrocentosettanta) {
            height: 75vh;
        }

        @include respond(trecentosettantacinque) {
            height: 70vh;
        }
    }

    &__title {
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 400;
        text-align: center;
        padding: 0 5rem;

        @include respond(quattrocento) {
            font-size: 2.3rem;
        }
    }

    &__social-text {
        margin-bottom: 2rem;
        text-align: center;
        padding: 0 5rem;
    }

    &__footer {
        height: 15vh;

        @include respond(milletrecento) {
            height: 18vh;
        }

        @include respond(quattrocentosettanta) {
            height: 25vh;
        }

        @include respond(trecentosettantacinque) {
            height: 30vh;
        }
    }
}

.facebook, .instagram, .linkedin, .pinterest, .twitter {    
    font-size: 5rem;
    margin: 0 5px;
}

.facebook {
    color: #4267B2;
}

.instagram {
    background-image: url("https://static1.squarespace.com/static/591a5f9c8419c2e33f85d568/t/59e9799a692ebe78a32d8c6d/1508473243906/A-New-Look-for-Instagram-Inspired-by-the-Community-Think-Marketing.jpg?format=2500w");
    background-attachment: fixed;
    background-size: cover;
    border-radius: 20%;
    color: white;    
}

.linkedin {
    color: #0077B5;
}

.pinterest {
    color: #E60023;
}

.twitter {
    color: #1DA1F2;
}