#section-hero {
    position: relative;
}

#counters {
    background-image: linear-gradient(to right, rgba($color-primary, .6),rgba($white, 1));
    height: 100vh;
    padding: 0;
}

#story {
    background-image: linear-gradient(to left, rgba($color-primary, .4),rgba($white, .5)), url('/assets/adult-background-close-up-1079033.jpg'),;
    background-size: cover;
    background-position: bottom;
}

#settori {
    width: 80vw;
    padding: 10rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, 35rem);
    grid-gap: 5rem;
    justify-content: center;
    
    @include respond(trecentosettantacinque) {
        width: 70vw;
        padding: 8rem 0;
    }
}

#testimonials {
    background-image: linear-gradient(to left, rgba($white, .75),rgba($white, .75)),
                url('/assets/testimonials-background.jpg');
}

#cta {
    @include flex100Center;
    background-image: linear-gradient(to right, rgba($color-primary, .9),rgba($white, .5));
    padding: 5rem 0;

    @include respond(millecinquecento) { 
        padding: 3rem 0;
    }

    @include respond(milletrecento) { 
        padding: 2rem 0;
    }

    @include respond(settecento) {
        padding: 2rem;
    }

    @include respond(quattrocento) {
        padding: 1rem;
    }
}

.cta {
    width: 70%;
    padding: 6rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black, .2);
    background-image: linear-gradient(105deg, 
    rgba($white, .85) 0%,
    rgba($white, .85) 55%,
    transparent 10%) ,
    url('/assets/testimonials-background-opaque.jpg');
    background-position: bottom;
    background-size: cover; 
    background-repeat: no-repeat;

    @include respond(millecinquecento) { 
        padding: 3.5rem;
    }

    @include respond(milletrecento) { 
        padding: 3rem;
        width: 80%;
    }

    @include respond(novecento) { 
        padding: 2.7rem;
        width: 90%;
    }

    @include respond(settecento) {
        background-image: linear-gradient(105deg, 
        rgba($white, .75) 0%,
        rgba($white, .75) 100%,
        transparent 10%) ,
        url('/assets/form-background-mobile.jpg');
        width: 70%;
        padding: 3rem;
    }

    @include respond(cinquecento) {
        width: 80%;
    }

    @include respond(quattrocento) {
        width: 90%;
    }

    @include respond(trecentosettantacinque) {
        width: 95%;
    }

    /*@include respond(tab-land) {
        background-image: linear-gradient(105deg, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%,
        transparent 65%) ,
    url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
url(../img/nat-10.jpg);
    }*/
    &__header {
        text-align: left;

        @include respond(milletrecento) { 
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

        @include respond(novecento) { 
            font-size: 2rem;
            margin-bottom: 2.5rem;
        }

        @include respond(settecento) { 
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
        }
        
        @include respond(quattrocento) { 
            font-size: 1.5rem;
            margin-bottom: 2.4rem;
        }
    }

    &__form {
        width: 50%; 

        @include respond(settecento) { 
            width: 100%;
            margin: 0;
        }
    }
}


