#section-hero {
    position: relative;
}

#story {
    background-image: linear-gradient(to left, rgba($color-primary, .4),rgba($white, .5)), url('/assets/adult-background-close-up-1079033.jpg'),;
    background-size: cover;
    background-position: bottom;
}

#settori {
    width: 80vw;
    padding: 10rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, 35rem);
    grid-gap: 5rem;
    justify-content: center;
}

#testimonials {
    background-image: linear-gradient(to left, rgba($white, .75),rgba($white, .75)),
                url('/assets/testimonials-background.jpg');
    background-size: cover;
}



