//colors
$color-primary: #00589e;
$color-primary-light: #8acaff;
$color-primary-dark: #001e36;
$footer-background: #333333;

$color-secondary: #b4b4b4;

$black: #000;
$white: #fff;

$color-grey-dark: #777;
$color-grey: #858585;
$color-grey-light: #d1d1d1;
$color-grey-light-2: #f0f0f0;

$error: #ff8b8b;
$success: yellowgreen;
$erease: #990000;
$erease-hover: #770000;
$modify: #ece91e;
$modify-hover: #c7c41f;

$title-font: 'Raleway', sans-serif;
$basic-font: 'Noto Sans', sans-serif;

$cards-linear: linear-gradient(to left, rgba($color-primary, .25), rgba($white, .4));
$blog-linear: linear-gradient(to right, rgba($color-primary, .5), rgba($color-secondary, .4));

$big-font-size: 2.5rem;
$basic-font-size: 1.6rem;
$small-font-size: 1.2rem;
$bold: 700;
$thin: 400;
$super-thin: 200;
