.footer {
    background-color: $footer-background;
    padding: 8rem 0;
    font-size: 1.4rem;
    color: $color-grey-light;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

    &__container {
        width: 60%;
        
        display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    }

    &__navigation {
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-dark;
            background-color: $footer-background;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            box-shadow: 0 1rem 2rem rgba($black, .4);
            transform: scale(1.3);
        }
    }
    }
